@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@400;500;600;700;800;900&display=swap");

:root {
  --btn-grey-primary: #33363b;
  --bg-dark-grey: #e7d8d6;
  --bg-light-grey: #f5f5f5;
  --bg-dim-grey: #efefef;
  --bg-greyish-green: #e4eedb;
  --bg-footer-dark: #26292b;
  --color-dark-200: #24262b;
  --color-footer-text: #a7b9b2;
  --btn-bg-hover: #ff6868;
}

/* * {
  outline: 1px solid black;
} */

.text-dark-navbar {
  color: #010115 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif !important;
}

/* -------------Utility classes --------- */

.w-90 {
  width: 90% !important;
}

.fw-600 {
  font-weight: 600 !important;
}
.fw-400 {
  font-weight: 400 !important;
}
.fw-500 {
  font-weight: 500 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.p-6 {
  padding: 3rem;
}

.p-7 {
  padding: 4rem;
}
.p-8 {
  padding: 5rem;
}

.px-btn {
  padding-inline: 2.125rem;
}

.dark-bg-btn {
  background-color: #010101;
}

.text-dark-hero {
  color: var(--color-dark-200) !important;
}

.navbar-font {
  font-size: 18px;
  letter-spacing: 1px;
}

.font-barlow {
  font-family: "Barlow Semi Condensed", sans-serif;
}

.navbar-btn {
  padding: 13px 35px;
  border: none;
  border-radius: 4px;
  font-weight: 800;
  letter-spacing: 1px;
}

.bg-light-grey {
  background-color: var(--bg-light-grey);
}

.bg-dim-grey {
  background-color: var(--bg-dim-grey);
}

.color-dark-200 {
  color: var(--color-dark-200) !important;
}

/* -------------Hero container --------- */
.Hero {
  background-image: url("./assets/Images/hero_banner.jpg");
  background-size: cover;
  margin-top: 3.5rem;
}

.Hero-content {
  padding-block: 160px;
}

.Hero-heading {
  font-size: 4rem;
  font-weight: 600;
  color: var(--color-dark-200);
}

.Hero-para {
  line-height: 30px;
  font-weight: 300;
  color: var(--color-dark-200);
}

.Hero-btn {
  font-size: 20px;
  padding: 10px 36px;
  border: none;
  background-color: var(--btn-grey-primary);
  color: white;
  font-weight: 600;
  border-radius: 2px;
  transition: background 0.5s ease;
}

.Hero-btn:hover {
  background-color: var(--btn-bg-hover);
}

.btn-primary-grey {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background-color: var(--btn-grey-primary);
  padding: 0px 30px;
  font-size: 16px;
  font-weight: bolder;
  border: none;
  border-radius: 3px;
  color: white;
  transition: background-color 1s ease;
  transition: transform 4s ease;
}

.btn-primary-grey span {
  transition: transform 0.5s ease;
}

.btn-primary-grey:hover {
  background-color: var(--btn-bg-hover);
}

.btn-primary-grey:hover span {
  transform: translateX(15px);
}

.fade-out {
  opacity: 1;
}

hr.hero-horizontal-rule {
  border-top: 3px solid var(--color-dark-200);
  opacity: 0.8;
  background-color: var(--color-dark-200);
}

.hero-footers {
  color: var(--color-dark-200);
}

/* -----Interior Design Left section-- */
.interior-design-left-section {
  background-color: var(--bg-dark-grey);
}

/*-------Decorative Design Section----  */
.decorative-interior-left-section {
  background-image: url(./assets/Images/background355.jpg);
  background-size: cover;
  background-position: center;
}

.decorative-interior-right-section {
  background-image: url(./assets/Images/background1.jpg);
  background-size: cover;
}

.decorative-interior-right-section .decorative-interior-section-para {
  font-size: 22px;
  line-height: 26px;
}
.decorative-interior-left-section .decorative-interior-section-para {
  font-size: 22px;
  line-height: 26px;
}

.hover-img {
  position: relative;
}

.fade-out {
  opacity: 0;
  z-index: 100;
  position: absolute;
  top: 70%;
  left: 10%;
  transition: opacity 0.8s ease;
  background-color: var(--btn-grey-primary) !important;
}

.hover-img:hover .fade-out {
  opacity: 1;
}

.decorative-wrapper {
  width: 75%;
}

/* ------Logo Box Section----  */
.logo-box-section {
  row-gap: 1.5rem;
}

.logo-box-title {
  font-size: 1.25rem;
  margin-top: 0.5rem;
  font-weight: bold;
}

.logo-box-text {
  font-weight: 400;
}

.quality-section-wrapper {
  background-color: var(--bg-greyish-green);
}

.quality-sections {
  padding-right: 6rem;
  padding-left: 0;
}

/* --------Our Clients Section--------- */

.clients-logo-wrapper {
  row-gap: 4rem !important;
}

.clients-header {
  font-size: 4rem;
  font-weight: 600;
  color: var(--btn-grey-primary);
}

.client-logo {
  transition: transform 0.3s ease;
}

.client-logo:hover {
  transform: translateY(-1.5rem);
}

/* -------footer------ */
.footer {
  background-color: var(--bg-footer-dark);
  padding-block: 4rem;
}

ul.footer-list-container {
  padding-left: 0;
  display: flex;
  gap: 0.75rem;
  flex-direction: column;
}

ul.footer-list-container li:not(.footer-list-header) {
  color: var(--color-footer-text);
  list-style: none;
  font-weight: 500;
}

.footer-list-header {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}

.subscribe-btn {
  padding: 0.9rem 2rem;
  border: none;
  border-radius: 2px;
  background-color: var(--btn-grey-primary);
  color: #fff;
  font-weight: bold;
  font-size: 1.25rem;
}
/* --------------breakpoint------------- */
/* tablet view  */
@media screen and (max-width: 1200px) {
  .Hero {
    background-position: center;
    background-size: stretch;
  }
}

@media screen and (max-width: 992px) {
  .interior-design-right-section {
    margin-top: 2rem !important;
  }

  .decorative-interior-left-section {
    background-image: url(./assets/Images/background355.jpg);
    background-size: cover;
    background-position: center;
  }

  .decorative-interior-right-section {
    background-image: url(./assets/Images/background1.jpg);
    background-size: cover;
    margin-block: 1rem;
  }

  .decorative-section-headings {
    font-size: 42px !important;
  }

  .decorative-wrapper {
    width: 75%;
  }

  .quality-sections {
    padding-right: 2rem;
    padding-left: 0;
  }
}

@media screen and (max-width: 575px) {
  .interior-design-section {
    padding-inline: 1.35rem !important;
  }

  .decorative-interior-section {
    padding-inline: 1.35rem !important;
  }

  .quality-section-wrapper {
    padding-inline: 1.35rem !important;
  }

  .interior-design-left-section {
    padding: 3rem 1.5rem !important;
    margin-bottom: 1rem !important;
  }

  .interior-design-left-section,
  .interior-design-section,
  .interior-design-left-section p,
  .interior-design-left-section h2 {
    text-align: center;
  }

  .interior-design-right-section,
  .interior-design-right-section h5,
  .interior-design-right-section p {
    text-align: start;
  }

  .decorative-interior-left-section,
  .decorative-interior-right-section {
    padding: 3rem;
  }

  .decorative-wrapper {
    width: 100%;
  }

  .decorative-interior-left-section p,
  .decorative-interior-right-section p,
  .decorative-section-headings {
    text-align: center;
  }

  .btn-wrapper {
    display: flex;
    justify-content: center;
  }

  .decorative-section-headings {
    font-size: 1.625rem !important;
  }

  .decorative-interior-section-para {
    font-size: 1.15rem;
    margin-block: 1.25rem 1.75rem;
  }

  .clients-header {
    font-size: 2.5rem;
    font-weight: 600;
  }

  .footer-list-header {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .footer-list-header,
  .footer-list-item {
    text-align: center;
  }
}
